name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Use Node.js 16.x
        uses: actions/checkout@v2
        with:
          node-version: 16.x
          
      - name: Install
        run:
          npm install
          
      - name: Build
        run: npm run build-website
          
      - name: Upload report artifact
        uses: actions/upload-artifact@v2
        with:
          name: accessibility-reports
          path: ${{ github.workspace }}/_accessibility-reports